body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #5d7691; */
}

#registerBtn {
  cursor: pointer;
}

#loginTrigger {
  cursor: pointer;
}

/* !navbar */
.navbar {
  background-color: #151515;
  color: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100px;
}

nav .navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ffd700; /* Изменяем цвет ссылки при наведении */
}

.navbar-links a i {
  margin-right: 5px;
}

/* ! SEARCH */
.search-form {
  display: flex;
  align-items: center;
}

.search {
  display: inline-block;
  position: relative;
}

.search input[type="text"] {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search button[type="submit"] {
  background-color: #5d7691;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.9s ease;
}

.search button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: rgb(27, 27, 51);
}

/* ! image video */
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}
.video-bg {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.video-bg video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.video-bg__content {
  z-index: 2;
  color: #ffffff;
  font-size: 50px;
}
.main {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 20px;
}

/* ! форм */
.loginForm {
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.755);
}

.modal12 {
  position: absolute;
  width: 50%;
  z-index: 2;
  padding: 20px;
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 20px #171717;
  width: 400px;
  text-align: left;
  display: none;
  background-color: #171717;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal12 h3 {
  color: #fff;
  margin-left: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal12 input {
  width: 96%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #aeaeae;
  border-radius: 3px;
  color: #aeaeae;
  outline: none;
  font-size: 13px;
  background-color: #171717;
  margin-left: 7px;
}

.modal12 input::placeholder {
  color: #aeaeae;
}

.modal12 button {
  width: 96%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.modal12 button:hover {
  letter-spacing: 3px;
  background-color: hsl(39, 80%, 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(225, 129, 50) 0px 7px 29px 0px;
}

.modal12 button:active {
  letter-spacing: 3px;
  background-color: hsl(33, 80%, 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(220, 135, 24) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

/*! cards  */

.cards-container {
  display: flex;
  width: 1300px;
  margin: 0 auto;
  gap: 30px;
  flex-wrap: wrap;
}
.producCard {
  width: 303px;
  margin: 20px 0px 20px 20px;
  display: flex;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.842);
  margin-top: 100px;
}
.producCard:hover {
  border: 1px solid rgba(0, 0, 0, 0.842);
  box-shadow: -1px 0px 10px 5px rgba(0, 0, 0, 0.35);
}

.card-img-top {
  width: 303px;
  height: 303px;
  margin: 0;
  padding: 0;
  background-color: azure;
  position: relative;
}
.card-price {
  margin: 5px 8px;
  font-size: 16px;
}
.card-title {
  margin: 5px 8px;
}
.card-category {
  margin: 5px 8px;
  color: rgba(128, 128, 128, 0.712);
}
.card-text {
  margin: 5px 8px;
  color: black;
}

.buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: -50px;
}

.edit-btn {
  width: 80px;
  background-color: black;
  color: #fff;
  border: #0056b3;

  padding: 6px 10px;
  border-radius: 23px;
  margin: 10px 10px 10px 60px;
  transition: 0.1s ease-in;
  cursor: pointer;
}
.edit-btn:hover {
  background-color: #ffd500;
  color: black;
  border: none;
  transition: 0.1s ease-in;
}
.delete-btn {
  width: 80px;
  background-color: #ffd500;
  color: black;
  border: #0056b3;
  padding: 6px 10px;
  border-radius: 23px;
  margin: 0 10px;
  transition: 0.1s ease-in;
  cursor: pointer;
}
.delete-btn:hover {
  background-color: rgb(203, 13, 13);
  color: white;
  transition: 0.1s ease-in;
}

.pagination {
  margin: auto;
  width: fit-content;
}
